/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: auto;
    line-height: 1px;
    background: white;
    overflow: hidden;
}

#name_song{
    text-align: right;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
}
#imgTrend{
    border: 2px solid #80bdff;
    height: 450px;
    width: available;
    margin: auto;
    border-radius: 15px;
}
